* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.img-object-fit {
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.col {
    float: left;
    margin-top: 30px;
}

header {
    height: 550px;
    background-color: darkblue;
    background-image: url("../img/background-header.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 100% 105%;
}

.logo {
    width: 10%;
}

nav {
    padding: 10px 0;
}

.menu-central {
    width: 55%;
    padding-left: 20px;
}

.menu-right {
    width: 35%;
    text-align: right;
}

.menu {
    text-transform: uppercase;
    list-style-type: none;
    padding-top: 20px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

.menu .login {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
}

.button {
    border-radius: 5px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}

.teaser {
    width: 40%;
    margin-top: 15%;
    color: white;
}

.grey-strip {
    background-color: lightgrey;
    height: 200px;
}

.black-txt {
    padding-top: 60px;
    text-align: center;
}

.grey-txt {
    color: grey;
    text-align: center;
    margin-top: 10px;
}

.col-img {
    height: 200px;
    width: 200px;
    position: relative;
    margin-bottom: 20px;
}

.col-left, .col-right {
    margin-bottom: 10px; 
    width: 30%;
}

.col-center {
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px; 
}

h4 {
    color: lightgreen;
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

hr {
    color: grey;
    width: 60px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}