* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.col {
    float: left;
}

header {
    height: 550px;
    background-color: darkblue;
    background-image: url("../img/background-header.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 100% 105%;
}

.logo {
    width: 10%;
}

nav {
    padding: 10px 0;
}

.menu-central {
    width: 55%;
    padding-left: 20px;
}

.menu-right {
    width: 35%;
    text-align: right;
}

.menu {
    text-transform: uppercase;
    list-style-type: none;
    padding-top: 20px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

.menu .login {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
}

.button {
    border-radius: 5px;
    background-color: green;
    color: white;
    padding: 10px 20px;
}

.teaser {
    margin-top: 15%;
    color: white;
}